/* displays */
.d-none{
    display: none;
}
.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}
/* element placement */
.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}
.grid-2{
    display: grid;
    grid-template-columns: calc(50% - 25px) calc(50% - 25px);
    column-gap: 50px;
    row-gap: 5px;
}
/* spacing */
.gap-5{
    gap: 5px;
}
.gap-10{
    gap: 10px;
}
.gap-15{
    gap: 15px;
}
.gap-20{
    gap: 20px;
}
.gap-25{
    gap: 25px;
}
.gap-30{
    gap: 30px;
}
.gap-35{
    gap: 35px;
}
.gap-40{
    gap: 40px;
}
.col-gap-50{
    column-gap: 50px;
}
.row-gap-5{
    row-gap: 5px;
}
/* width and height */
.w-full{
    width: 100%;
}
.h-full{
    height: 100%;
}
/* max width and max height */
.w-max-200px{
    max-width: 200px;
}
/* positions */
.relative{
    position: relative;
}
/* text colors */
.text-success{
    color: var(--successColor);
}
.text-active{
    color: var(--activeColor);
}
.text-info{
    color: var(--infoColor);
}
.text-warning{
    color: var(--warningColor);
}
.text-danger{
    color: var(--dangerColor);
}
/* bg colors */
.bg-active{
    background-color: var(--activeColor);
}
.bg-info{
    background-color: var(--infoColor);
}
.bg-warning{
    background-color: var(--warningColor);
}
.bg-danger{
    background-color: var(--dangerColor);
}
/* text sizes */
.text-xs{
    font-size: 12px;
}
.text-sm{
    font-size: 14px;
}
.text-md{
    font-size: 18px;
}
.text-lg{
    font-size: 20px;
}
/* text align */
.text-center{
    text-align: center;
}
/* Form style */
.form-input, .dt-input{
    width: 100%;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid var(--tableHeadColor);
    transition: all 0.5s;
}

.form-input:focus, .dt-input:focus, .filter-input:focus{
    border: 1px solid var(--activeColor) !important;
}


.filter-input{
    max-width: 100px;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
    transition: all 0.5s;
}
.validate-input.invalid{
    border: 1px solid var(--dangerColor);
}

.validate-input.valid{
    border: 1px solid var(--successColor);
}

.validation-message{
    font-size: 14px;
    color: var(--dangerColor);
    font-family: light;
    margin-top: 5px;
}
/* others */
.page{
    display: none;
}
.page-name{
    text-transform: capitalize;
}
.system-content{
    flex: 1;
    margin-left: 220px;
    height: 100vh;
    background-color: rgb(245,245,249);
    width: calc(100% - 220px);
}
.system-content .content{
    width: 90%;
    margin: auto;
}
.table-card{
    background-color: var(--whiteColor);
    border-radius: 10px;
    padding: 10px 20px;
    color: var(--tableHeadColor);
}
.message-modal-container{
    display: none;
}
.message-modal{
    position: fixed;
    left: 50%;
    top: 0;
    box-shadow: 0 0 10px 0 black;
    border-radius: 10px;
    transform: translate(-50%, 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
    min-width: 100px;
    font-size: 14px;
    z-index: 10000;
    padding: 10px 15px;
    background: var(--whiteColor);
}

.message-modal img{
    width: 25px;
    height: 25px;
}
.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.form-box{
    width: 100%;
    max-width: 500px;
    max-height: 80%;
    padding: 20px;
    background-color: var(--whiteColor);
    border-radius: 10px;
    box-shadow: 0 0 10px 0;
    overflow-y: auto;
}
.form-box.full-box{
    width: 90%;
    max-width: 90%;
    height: 90%;
}
.col-2-container > div{
    width: 49%;
    margin-top: 10px;
}
.show-hide-password{
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-100%, -50%);
    min-width: fit-content !important;
}
input[type="password"] ~ .show-hide-password .hide-password{
    display: block;
}
input[type="password"] ~ .show-hide-password .show-password{
    display: none;
}
input[type="text"] ~ .show-hide-password .hide-password{
    display: none;
}
input[type="text"] ~ .show-hide-password .show-password{
    display: block;
}
.show-hide-password img{
    width: 20px;
}

.remove-product{
    background-color: var(--dangerColor);
    color: var(--whiteColor);
}
/* Dropdowns */
.select-dropdown{
    position: relative;
    width: fit-content;
    z-index: 9999;
}
.dropdown-items{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    background-color: white;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    z-index: 9999;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 black;
    display: none;
}
.select-dropdown-control{
    min-width: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid var(--tableHeadColor);
    transition: all 0.5s;
    background-color: transparent;
    color: black;
}
.dropdown-item{
    width: 100%;
    background-color: transparent;
    color: black;
    text-align: left;
    padding: 0;
    font-size: 14px;
    padding: 5px;
}
.dropdown-item:hover{
    background-color: var(--infoColor);
    color: var(--whiteColor);
}

.dropdown-item.active{
    color: var(--whiteColor);
    background-color: var(--activeColor);
}

.select-dropdown.active .dropdown-items{
    display: block;
}


